marquee {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    margin: 10px;
    padding: 0px;     
}/*Dit zorgt ervoor dat de marquee er uit ziet zoals die is.*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /*Dit is zodat het menu mooi aansluit aan de pagina en de borders aanraakt.*/
    background-color: #202020; /*De achtergrondkleur van het menu. Het was #333.*/
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #8d8d8d;
  }
  
  .active {
    background-color: #0026ff;
  }
          #rcorners1 {
    border-radius: 25px;
    border: 2px solid #000;
    background: #73AD21;
    padding: 20px; 
    width: 150px;
    height: 20px;  
  }/*De hele tekst hierboven zorgt voor een mooie en verzorgde menubalk*/
          body {
              background-image: url(CentreSite.jpg);
              margin: 0;
              padding: 0;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              background-attachment: fixed;
              height: 100vh
          }/*Dit zorgt voor mijn zelfgemaakte achtergrond. Deze heb ik zelf ontworpen om een mooi orgineel beeld te brengen*/
  
          h4 {
              color: red;
          }
          img {
            border: 2px solid #000;
          }
