body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}/*Dit is het lettertype dat wordt gebruikt op de pagina.*/

h1 {
    color: #333;
}

.game-container {
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 400px;
    background-color: #ff0000;
    border: 5px solid #ffff00;
    border-radius: 10px;
    display: none; /*Verbergt het spel totdat je op de startknop drukt.*/
}

#target, #missedTarget {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;/*Dit zorgt ervoor dat de misserafbeelding de goede afmetingen heeft.*/
}

.info {
    margin-top: 20px;
    display: none; /*Verbergt de informatie over de score en de tijd tot het spel start.*/
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;/*Dit zorgt voor de grote en breedte van de startknop*/
}
