p {
    color:rgb(0, 0, 0)
}
body {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(255, 64, 64));
    margin: 0px;
      padding: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: 100vh
  }
h1 {
    color: black;
}
image {
    border-radius: 20px;
    max-width: 100%;
    border: solid 3px #ff0000;
}