body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

.game-container {
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 400px;
    background-color: #000000;
    border: 5px solid #6f6f6f;
    border-radius: 10px;
    display: none; /* Verberg het spel totdat het start */
}

#target {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}

.info {
    margin-top: 20px;
    display: none; /* Verberg de score/tijd informatie totdat het spel start */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
