body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

.game-container {
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 400px;
    background-color: #00c3ff;
    border: 5px solid #0065fd;
    border-radius: 10px;
    display: none; /* Verbergt het spel totdat het start */
}

#target, #missedTarget {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.info {
    margin-top: 20px;
    display: none; /* Verbergt de informatie over de score en de tijd tot het spel start */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
